*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size: 10px;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}